https://dev.spendwell.co

log / stdout "{status} {method} {path}"

tls local/cert/dev_spendwell_co.crt local/cert/dev_spendwell_co.key

proxy / localhost:3000 {
    websocket
    except /media
    proxy_header X-Forwarded-Host dev.spendwell.co
    proxy_header X-Forwarded-Proto https
}
