{% extends "base.html" %}

{% load staticfiles %}

{% block body_class %}{{ block.super }} page landing{% endblock %}

{% block analytics_page_name %}Landing{% endblock %}

{% block head %}
  <link rel="stylesheet" href="{% static 'dist/pages.css' %}">

  <!-- Facebook Pixel Backup -->
  <noscript><img height="1" width="1" style="display:none"
  src="https://www.facebook.com/tr?id=227041677640062&ev=PageView&noscript=1"
  /></noscript>
{% endblock %}

{% block body %}
  <div class="header">
    <div class="container">
      <a href="{% url 'landing:home' %}" class="logo">
        <img src="{% static 'img/landing/logo.svg' %}" alt="Spendwell"/>
      </a>

      <ul class="nav list-inline">
        {% if request.user.is_authenticated %}
          <li><a href="{% url 'logout' %}?next=/">Logout</a></li>
          <li><a href="{% url 'app' %}" class="mui-btn mui-btn--primary">Dashboard</a></li>
        {% else %}
          <li><a href="{% url 'login' %}">Login</a></li>
        {% endif %}
      </ul>
    </div>
  </div>

  {% block content %}{% endblock %}

  <script src="{% static 'dist/pages.js' %}"></script>
{% endblock %}
