
@import '../color';

body.landing {
  .header {
    padding: 13px 0 10px;
    background-color: color('grey', '100');

    .nav {
      float: right;
      margin-bottom: 0;

      a:not(.mui-btn) {
        color: color('grey', '700');
      }
    }

    .logo {
      display: block;
      float: left;

      img {
        height: 40px;
      }
    }
  }

  .color-bar {
    padding: 30px 5px;
    margin-bottom: 0;
    background-color: $primary;
    text-align: center;
    color: white;
  }
}
